
@{
    ViewBag.Title = "Index";
}

<h2>Activity DIary</h2>

<p>There is a little description of my beatiful (some later) site</p>

@Html.ActionLink("Sign Up", "SignUp", "Users", null, null) | 
@Html.ActionLink("Log In", "LogIn", "Users", null, null)